<div class="form-container">
  <form [formGroup]="productForm" (ngSubmit)="insertarProducto()">
    <div class="form-group">
      <label class="input-label">Número de referencia *</label>
      <input type="text" formControlName="referencia" class="form-control input-field" placeholder="Ingresa el número de referencia">
    </div>
    <div class="form-group">
      <label class="input-label">Nombre del producto *</label>
      <input type="text" formControlName="nombre" class="form-control input-field" placeholder="Ingresa el nombre del producto">
    </div>
    <div class="form-group">
      <label class="input-label">Precio *</label>
      <input type="number" formControlName="precio" class="form-control input-field" placeholder="Ingresa el precio">
    </div>
    <div class="form-group">
      <label class="input-label">Descripción *</label>
      <textarea formControlName="descripcion" class="form-control input-field" rows="4" placeholder="Ingresa una descripción"></textarea>
    </div>
    <div class="form-group">
      <label class="input-label">En stock *</label>
      <input type="checkbox" formControlName="onStock" class="checkbox-field">
    </div>
    <div class="form-group">
      <label class="input-label">Categoría *</label>
      <select formControlName="categoria" class="form-control input-field">
        <option value="" disabled selected>Selecciona una categoría de bambas</option>
        <option value="Deportivas ">Deportivas </option>
        <option value="Skate">Skate</option>
        <option value="Running">Running</option>
        <option value="Urban">Urban</option>
      </select>        
    </div>
    <div class="form-group">
      <label class="input-label">Imagen *</label>
      <input type="text" formControlName="imagen" class="input-field">
    </div>
    <!-- https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/6b1ebdb3-9043-492d-94bf-8ab78dccafb9/air-max-dn-zapatillas-rZwC5C.png -->
    <button type="submit" [disabled]="!productForm.valid">Guardar</button>
  </form>
</div>
 